<main>
  <div class="p-4">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold mb-4">Products ({{ products.length }})</h1>
      @if (isAuthenticated) {
      <button
        class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 ml-4"
        (click)="goToCreateProductPage()"
      >
        Create Product
      </button>
      }
    </div>
    @if (products.length > 0) { @if (orderSuccess) {
    <h4 class="text-green-500 font-bold mb-2">Order Placed Successfully</h4>
    } @else if (orderFailed) {
    <h4 class="text-red-500 font-bold mb-2">
      Order Failed, please try again later
    </h4>
    @if (quantityIsNull) {
    <h4 class="text-red-500 font-bold">Quantity cannot be null</h4>
    } }

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (product of products; track product.id) {
      <div
        class="p-4 bg-white rounded-lg shadow-lg hover:shadow-xl transition-shadow"
      >
        <h3 class="font-bold text-lg">{{ product.name }}</h3>
        <p class="text-gray-600">Price: {{ product.price }}</p>
        <div class="mt-2">
          <label for="quantityInput" class="block text-gray-700 font-medium"
            >Quantity:</label
          >
          <input
            type="number"
            #quantityInput
            class="border border-gray-300 rounded-md px-2 py-1 w-full"
          />
        </div>
        <button
          class="mt-4 bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 w-full"
          (click)="orderProduct(product, quantityInput.value)"
        >
          Order Now
        </button>
      </div>
      }
    </div>
    } @else if (products.length === 100) {
    <span class="text-sm text-gray-700">
      Click
      <a class="text-blue-500 hover:underline cursor-pointer">Load More</a> to
      see more products
    </span>
    } @else {
    <p class="text-red-500 font-semibold">No products found!</p>
    }
  </div>
</main>
