<div
  class="container mx-auto p-4 bg-gray-900 text-white rounded-lg shadow-xl mt-16 max-w-md"
>
  <h2 class="text-2xl font-bold text-center mb-4 text-purple-400">
    Add Product
  </h2>
  @if (productCreated) {
  <h4 class="text-green-400 font-semibold text-center mb-3">
    🎉 Product Created Successfully!
  </h4>
  }
  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <!-- SKU Code -->
    <div>
      <label
        class="block text-gray-300 font-medium mb-1 transition-colors hover:text-purple-500"
        for="skuCode"
      >
        SKU Code
      </label>
      <input
        type="text"
        id="skuCode"
        formControlName="skuCode"
        placeholder="Enter SKU Code"
        class="border border-gray-600 bg-gray-800 text-white rounded-md w-full px-3 py-2 focus:outline-none focus:ring focus:ring-purple-500 hover:border-purple-500"
      />
      <div
        *ngIf="skuCode?.invalid && (skuCode?.dirty || skuCode?.touched)"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="skuCode?.errors?.['required']">SKU Code is required.</div>
        <div *ngIf="skuCode?.errors?.['minlength']">
          SKU Code must be at least 3 characters long.
        </div>
      </div>
    </div>

    <!-- Name -->
    <div>
      <label
        class="block text-gray-300 font-medium mb-1 transition-colors hover:text-purple-500"
        for="name"
      >
        Product Name
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Enter Product Name"
        class="border border-gray-600 bg-gray-800 text-white rounded-md w-full px-3 py-2 focus:outline-none focus:ring focus:ring-purple-500 hover:border-purple-500"
      />
      <div
        *ngIf="name?.invalid && (name?.dirty || name?.touched)"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="name?.errors?.['required']">Product Name is required.</div>
        <div *ngIf="name?.errors?.['minlength']">
          Product Name must be at least 3 characters long.
        </div>
      </div>
    </div>

    <!-- Description -->
    <div>
      <label
        class="block text-gray-300 font-medium mb-1 transition-colors hover:text-purple-500"
        for="description"
      >
        Product Description
      </label>
      <textarea
        id="description"
        formControlName="description"
        placeholder="Write a short description"
        class="border border-gray-600 bg-gray-800 text-white rounded-md w-full px-3 py-2 focus:outline-none focus:ring focus:ring-purple-500 hover:border-purple-500 resize-none"
        rows="4"
      ></textarea>
      <div
        *ngIf="
          description?.invalid && (description?.dirty || description?.touched)
        "
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="description?.errors?.['required']">
          Description is required.
        </div>
        <div *ngIf="description?.errors?.['minlength']">
          Description must be at least 10 characters long.
        </div>
      </div>
    </div>

    <!-- Price -->
    <div>
      <label
        class="block text-gray-300 font-medium mb-1 transition-colors hover:text-purple-500"
        for="price"
      >
        Price (in USD)
      </label>
      <input
        type="number"
        id="price"
        formControlName="price"
        placeholder="Enter Product Price"
        class="border border-gray-600 bg-gray-800 text-white rounded-md w-full px-3 py-2 focus:outline-none focus:ring focus:ring-purple-500 hover:border-purple-500"
      />
      <div
        *ngIf="price?.invalid && (price?.dirty || price?.touched)"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="price?.errors?.['required']">Price is required.</div>
        <div *ngIf="price?.errors?.['min']">Price must be greater than 0.</div>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="bg-purple-500 text-white px-4 py-2 rounded-md shadow-lg hover:bg-purple-600 hover:scale-105 transition-all w-auto font-semibold"
      [disabled]="addProductForm.invalid"
    >
      Add Product
    </button>
    <app-message-prompt></app-message-prompt>
  </form>
</div>
